* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

.background-img {
  background-image: url('../img/background-img.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.center {
  text-align: center;
}

.main-title {
  /*
  text-align: left;
  */
  height: 20vh;
}

.main-title h1 {
  font-size: 64px;
  padding: 25px;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  gap: 20px;
}

.bold {
  font-weight: bold;
}

.flex-child {
  border: 1px solid white;
}

.main-area {
  display: flex;
  margin: 20px;
  height: 60vh;
}

.right-area {
  padding: 50px;
}

/*
.left-area {
  background-color: rgba(0, 0, 0, 0.603);
}
*/

.flex-main-icons {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.inbox {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.calendar-day {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.calendar-week {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.projects {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.add-project {
  display: flex;
  gap: 15px;
  font-size: 25px;
}

.add-task {
  display: flex;
}

.add-task__paragragh {
  display: flex;
}

.footer .same-line i {
  padding: 25px;
  font-size: 25px;
}

.footer .same-line p {
  font-size: 25px;
  padding: 25px;
}

.black {
  color: black;
}
